*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
  color: #000;
}

.container {
  padding: 3rem 0;
}
.list-container {
  width: 50rem;
  height: 80rem;
  margin: 0 auto;
  border: solid 0.2rem #000;
  border-radius: 2rem;
  overflow: hidden;
}
.list-title {
  background-color: #ebc801;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.list-menu {
  width: 100%;
  padding: 1rem;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort_description_container {
  background-color: #000;
  color: #fff;
  text-align: left;
}

.sort_description_box {
  margin-left: 33rem;
  padding-bottom: 1rem;
}

.list_cost {
  font-size: 1.6rem;
}

.btn {
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
}

.list {
  max-height: 54rem;
  margin-top: 2rem;
  padding: 0 1rem 4rem 2rem;
  overflow-y: scroll;
}
.list__row {
  display: grid;
  grid-template-columns: 1fr 1fr 8fr 2fr 2fr 1fr 1fr;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  align-items: center;
  background-color: #f7f7f7;
}

.list__type {
  width: 1rem;
  height: 100%;
  background-color: #ebc801;
}
.list__icon {
  cursor: pointer;
}
.list__item {
  background-color: #f7f7f7;
  padding: 1rem;
}
.list__quantity,
.list__price {
  text-align: center;
}

.list__edit-item,
.list__remove-item {
  cursor: pointer;
}

.line-through {
  text-decoration: line-through;
}

.list_menu_btns {
  display: flex;
  gap: 1rem;
}

/* Form  */
.basket_icon {
  width: 4.8rem;
  height: 4.8rem;
}

.form_container {
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ebc801;
  margin-bottom: 2rem;
}

.form_container label {
  font-size: 1rem;
}

.form {
  display: grid;
  grid-template-columns: 8fr 2fr 2fr 1fr;
  column-gap: 1rem;
  align-items: center;
  font-size: 1.8rem;
  align-items: center;
  padding: 0 1rem;
  row-gap: 2px;
  font-size: 1.6rem;
}

.form input {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.7rem;
  padding-left: 1rem;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}

.form__btn {
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 0.7rem;
  grid-column: 4 / 6;
}

.trash_confirm,
.alreadyAdded_confirm {
  position: absolute;
  background-color: #fff;
  padding: 2rem 2rem;
  border-radius: 2rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.trash_confirm_btn_container,
.alreadyAddedconfirm_btn_container {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 2rem;
}

.btn_trash_confirm,
.btn_alreadyAddedconfirm {
  border: none;
  border-radius: 2rem;
  width: 8rem;
  height: 4rem;
}

.btn_trash_confirm:hover,
.btn_alreadyAddedconfirm:hover,
.btn_trash_confirm:active,
.btn_alreadyAddedconfirm:active {
  background-color: #ebc801;
}

.form_myProducts {
  height: 45rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-left: 2rem;
  font-size: 1.8rem;
  overflow-y: scroll;
}

.label_row {
  border: none;
  background-color: #f7f7f7;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 2rem;
}
.btn_remove_myproduct {
  width: 2rem;
  height: 2rem;
}

.span_myProducts {
  margin: 1rem auto;
}

.form_btn_box {
  margin-top: 2rem;
  padding-left: 2rem;
}

.myProducts_form_submit,
.myProducts_form_back {
  width: 8rem;
  height: 4rem;
  margin-right: 2rem;
}

.label_selectall {
  padding: 2rem;
  font-size: 1.6rem;
  color: #b98800;
}

@media (max-width: 600px) {
  .container {
    padding: 0 0;
  }

  .list-container {
    width: 100%;
    height: 70rem;
  }

  .btn {
    width: 4.8rem;
    height: 4.8rem;
  }

  /* Form mobile */

  .basket_icon {
    display: none;
  }

  .form input {
    height: 4rem;
  }

  .form__btn {
    height: 4rem;
  }

  .sort_description_box {
    margin-left: 23rem;
  }
}

.hidden {
  display: none;
}
